body {
    font-family: 'Courier New', Courier, monospace;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.receipt {
    background: white;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.header1 h1, .header1 p, .info p, .total p, .bill-total p, .payment p, .tax p, .footer p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.header1 h1 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.header1 p {
    font-size: 0.75em;
}

.info p {
    margin: 5px 0;
    font-size: 0.8em;
}

.items table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
}


.items table th, .items table td {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.total p, .bill-total p, .payment p, .tax p {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 0.8em;
}

.footer {
    text-align: center;
    margin-top: 10px;
}

.footer p {
    font-size: 0.8em;
    margin: 5px 0;
}





.main-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.main-table th, .main-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.sub-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.sub-table th, .sub-table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.sub-table th {
    background-color: #f4f4f4;
}



